<a href="https://colab.research.google.com/github/juwimana/Python-Beginner-Practice-Exercises-/blob/main/Thinkful_Intro_to_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to **Python** Fundamentals


- Throughout this notebook we will be exploring base Python concepts and applying them in small practice problems.
- Anytime you see a line surrounded by triple asterisks, `***LIKE THIS***`, that is a line of code that you will need to replace or edit.
- Have fun and good luck coding!

> To execute a line or block of code, simply click the "Play" button on the left side or use the keyboard shortcut "Shift + Enter"
> When that code block has actually been executed, the blank brackets will change to have a number inside of them.

In [39]:
x = 'WELCOME TO PYTHON FUNDAMENTALS'
print(x)

WELCOME TO PYTHON FUNDAMENTALS

___
## First lines of code:
Printing `"Hello, World!"` and reviewing the Zen of Python are traditionally two of the first tasks for a new Python programmer, so let's do those together here:

- We use `print` statements any time we want to display information to the console.

In [ ]:
print("Hello, World!")

- The Zen of Python is a collection of 19 "guiding principles" for writing computer programs that influence the design of the Python programming language. Software engineer Tim Peters wrote this set of principles and posted it on the Python mailing list in 1999.

In [ ]:
import this

___
## Variables, Lists, and Dictionaries:
Now that we're officially Python programmers, let's visit some of the core building blocks of Python.

### Variables

- Variables are reserved memory locations to store values. This means that when you create a variable (by using the ''`=`'' assignment operator) you reserve some space in memory for that particular piece of information.
- The data type of a variable will dictate what kinds of manipulations we can do with it.
- When naming our variables, we want to be concise but give some indication about their information or structure.

>> *Let's create a variable called `my_name` and fill it with a string value of your name:*

In [41]:
my_name = 'Jean Marie Uwimana'
meaning_of_life = 42

print(my_name, meaning_of_life)

Jean Marie Uwimana 42

In [42]:
# We can always check the data type of any variable with the built-in `type` function
print(type(my_name), type(meaning_of_life))

<class 'str'> <class 'int'>

In [43]:
# We can also generate more customized `print` statements
print("{}'s favorite number is {}!".format(my_name, meaning_of_life))

Jean Marie Uwimana's favorite number is 42!

**String-Specific Functions**
- If we have a string, there are some specific functions that we can use to manipulate it.
- We'll take a look at some ways we can manipulate strings below.
- For a more comprehensive list, check out this [documentation](https://www.programiz.com/python-programming/methods/string).

In [44]:
# We can "concatenate" strings or "add" them together
full_name = my_name + ' ' + 'is awesome!'
print(full_name)

Jean Marie Uwimana is awesome!

In [45]:
# We can make a string all lower case or upper case
print(my_name.lower(), my_name.upper())

jean marie uwimana JEAN MARIE UWIMANA

In [46]:
# We can split strings on certain characters
full_name.split(' ')

['Jean', 'Marie', 'Uwimana', 'is', 'awesome!']

In [47]:
# Or replace specific characters
full_name.replace('o', 'y')

'Jean Marie Uwimana is awesyme!'

**Numeric-Specific Functions**
- If we have a number value, there are _other_ specific functions that we can use to manipulate it.
- We'll take a look at some mathematical operators below.
- For a more comprehensive list, check out _this_ [reference](https://www.digitalocean.com/community/tutorials/how-to-do-math-in-python-3-with-operators).

In [48]:
# We can do some basic arithmetic
x = 9
y = 2

print('Sum:', x+y)
print('Difference:', x-y)
print('Product:', x*y)
print('Quotient:', x/y)

Sum: 11
Difference: 7
Product: 18
Quotient: 4.5

In [49]:
# We can also work with exponents and remainders

print('x to the power of y:', x**y)
print('Remainder of x divided by y:', x%y)

x to the power of y: 81
Remainder of x divided by y: 1

In [50]:
# Compound operators 
# update variable state

original = 5
original += 3
print(original)
original *= 2
print(original)

8
16

___
### Lists

- Lists are used to store a collection of data in an ordered sequence.
- List items can be of different data types.
- To create a list, we use square brackets `[]` and fill the brackets with items in the list separated by commas.

>> *Let's create a list called `pizza_toppings` and fill it with strings of our favorite ingredients:*

In [ ]:
pizza_toppings = ['pepperoni', 'pineapple', 'extra cheese']
print(pizza_toppings)

['pepperoni', 'pineapple', 'extra cheese']

In [ ]:
# Checking the type
type(pizza_toppings)

list

**Accessing and Updating Lists**
- List contents are accessed by index using bracket notation `[]` — you can access an item in a list by asking for the item in a given position.
- We can also use bracket notation to reassign or update items in a list.
- Accessing multiple items in a list is called slicing — we do this using bracket notation and two indices separated by a colon `:`.

>> _Let's take a look at some examples of each of those below:_

In [ ]:
# Getting the first element in a list
pizza_toppings[0]

'pepperoni'

In [ ]:
# Upgrading 'pineapple' to topping of your choice
pizza_toppings[1] = 'Onions'
pizza_toppings

['pepperoni', 'Onions', 'extra cheese']

In [ ]:
# Looking at multiple items at a time
pizza_toppings[0:2]

['pepperoni', 'Onions']

In [ ]:
# One cool little trick with slicing (reverse a list)
pizza_toppings[::-1]

['extra cheese', 'Onions', 'pepperoni']

**List Challenge!**
- Make a new list called `stoplight_colors`
- Fill it with the following strings:
  - `“Green”`
  - `“Yellow”`
  - `“Broken”`
- Using indexing, update `“Broken”` to `“Red”`
- `Print` the updated list to confirm the change

In [ ]:
# Add your Challenge code here!
stoplight_colors =['Green','Yellow','Broken']
stoplight_colors

['Green', 'Yellow', 'Broken']

In [ ]:
stoplight_colors[2] = 'Red'
stoplight_colors

['Green', 'Yellow', 'Red']

___
### Dictionaries

- Dictionaries allow you to store data as an unordered collection of `key:value` pairs.
  - Looking up or setting values by key rather than by index has different performance implications.
  - Writing code that refers to data by name rather than by index number can be much clearer and easier to understand.
- We create a dictionary with curly braces `{}` and fill it with `key:value` pairs, with each **pair** separated by a comma.

> *Let's create a list called `groceries` and fill it with strings and quantities of some foods we might have around the house:*

In [ ]:
groceries = {
    'apples': 4,
    'bananas': 6,
    'cookies': 3
}

In [ ]:
# Checking the type
type(groceries)

dict

**Accessing and Updating Dictionaries**
- Dictionary values are accessed using bracket notation `[]`, just like with lists and strings, except that instead of using an index number you use a key.
- Updating the value associated with a key looks very much like assigning a value to a variable — again, we'll use bracket notation `[]` and the assignment operator `=` to accomplish this.
  - This is also how we create new pairs in the dictionary.
- We can also do quick membership checks using `in` and `not in`.

>> _Let's take a look at some examples of each of those below:_

In [ ]:
# Checking a single value
groceries['apples']

4

In [ ]:
# Updating a value
groceries['apples'] += 4
groceries

{'apples': 8, 'bananas': 6, 'cookies': 3}

In [ ]:
# Adding a new pair
groceries['oranges'] = 6
groceries

{'apples': 4, 'bananas': 6, 'cookies': 3, 'oranges': 6}

In [ ]:
# Checking for membership
print('apples' in groceries)
print('watermelons' in groceries)

True
False

**Dictionary Challenge!**
- Take our `groceries` dictionary
- Add a new key:value pair of your choice
- Delete the `“apples”` item from the dictionary entirely (you may need to use Google!)
- Eat 2 cookies (subtract 2 cookies from the inventory)
- Print out the dictionary to confirm the changes

In [ ]:
# Add your Challenge code here!
groceries['grapes'] = 10
groceries

{'apples': 4, 'bananas': 6, 'cookies': 3, 'grapes': 10, 'oranges': 6}

In [ ]:
#delete apples from the dictionary
groceries.pop('apples')
groceries

{'bananas': 6, 'cookies': 3, 'grapes': 10, 'oranges': 6}

In [ ]:
#substract 2 from cookies
groceries['cookies'] -=2
groceries

{'bananas': 6, 'cookies': 1, 'grapes': 10, 'oranges': 6}

___
## Functions:
- Functions are going to be an integral part of your workflow as a Python programmer.
- Functions let you write a block of organized, reusable code that is used to perform a single, related action.
- You define that behavior once, and you can run and re-run your set of instructions whenever and as many times as you need.

>> _Let's start with a basic function first and move on to some more complicated ones:_

In [ ]:
# Defining our function
def hello(name):
  print("Hello " + name)
  
# "Calling" or executing our function
hello(name = 'Jean Marie Uwimana')

Hello Jean Marie Uwimana

In [ ]:
# Using variables as parameters instead of explicit strings
some_other_name = "Guido"
hello(name= some_other_name)

Hello Guido

>> So far we've been using `print` statements within a function to print something to the console — just showing the user (us) a string representing what is going on inside the computer. The other statement that you will see and utilize is `return`.
- `return` is the main way that a function returns a value.
- All functions will return a value, and if there is no `return` statement it will return `None`.
- The value that is returned by a function can then be further used as an argument passed to another function, stored as a variable, or just printed for the benefit of the human user.

In [ ]:
# Examples showing the difference between `print` and `return`

def function_that_prints():
    print("Printer is out of ink...")

first = function_that_prints()

print("The value of first is:", first)
print(first)

Printer is out of ink...
The value of first is: None
None

In [ ]:
def function_that_returns():
    return "Return of the Function!"
  
second = function_that_returns()

print("The value of second is:", second)
print(second)

The value of second is: Return of the Function!
Return of the Function!

>> **Let's build out our understanding with an example here:**

In [ ]:
def far_to_cel(fahrenheit):
  celsius = int((fahrenheit - 32) / 1.8)
  return celsius

In [ ]:
# Printing resulting values

print(far_to_cel(50))
new_temp = 85
print(far_to_cel(new_temp))

10
29

In [ ]:
# Saving the values that have been returned as new variables

winter_temp = far_to_cel(30)
summer_temp = far_to_cel(90)

diff_summer_winter = summer_temp - winter_temp
print(diff_summer_winter)

33

**Function Challenge!**
- Define a new function called `circumference`
- It should take one argument (`radius`)
- Given the radius provided, perform the necessary calculation and store it internally in a variable called `cir`
- Return the resulting value
- Call (execute) your function with a new radius!

> Equation of the circumference of a circle:
$$C = 2πr$$

In [ ]:
# Add your Challenge code here!

#import math package
import math
#Function to calculate Circumference
def circumference(radius):
  cir = 2*math.pi*radius
  return cir
  
print(circumference(2))

12.566370614359172

## And there you have it — all of the base Python that you need to get rocking and rolling!
- Be sure to keep practicing by changing things in this notebook and by spending 15-20 minutes on a different challenge daily — you'll be amazed at how quickly you'll improve!
- Some great daily places to practice are [Practice Python](http://www.practicepython.org/) and [CodeWars](https://www.codewars.com/users/sign_in).

## Take Home Challenge
- If you want an additional practice challenge to work on here in the notebook, consider the following from PracticePython:
  - Write a function that takes a list of numbers (for example, `a = [5, 10, 15, 20, 25]`) and makes a new list of only the first and last elements of the given list.
  - We'll start the code for you below:

In [ ]:
def list_ends(series):
  # Your code goes here

# Keep Learning with Thinkful
If you enjoyed today's session and want to take a deeper dive into many of the topics that we covered today like Pandas, SQL, predictive modeling, visualizing your data, and so much more, we'd love to have you join us again!
- Check out more of our webinars at [Thinkful Webinars](https://www.thinkful.com/webinars/)
- Learn more about the [Data Science Flex Course](https://www.thinkful.com/bootcamp/data-science/flexible/)